.listItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px auto;
  color: #d6e6e1;
}

.personBlock {
  display: flex;
  flex-basis: 1px;
  line-height: 3.5em;
  border-radius: 1px;
  margin-right: 10px;
  opacity: 0;
  transition: all 300ms ease;
}

.personName {
  padding-left: 30px;
  text-align: left;
  opacity: 0;
  white-space: nowrap;
}

.stepsBlock {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  white-space: nowrap;
}

.source {
  font-size: 14px;
  line-height: 1.4em;
  opacity: 0;
}

.steps {
  opacity: 0;
}

.fadeInLeft {
  animation: fadeInLeftAnimation 500ms linear;
  animation-fill-mode: forwards;
}

@keyframes fadeInLeftAnimation {
	from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}